<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
</head>

<body>
  {{> header}}
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, ullam enim? Architecto aliquam, possimus commodi quibusdam
    sunt eum, dolorum inventore molestias, expedita consequatur dicta sapiente vitae fuga nobis alias illum.</p>
  <p>Et nemo quibusdam maiores eaque quas illum vitae, voluptas natus ipsum consectetur.</p>
  {{> footer}}
</body>

</html>